# Copy this file to secret.yaml and fill in your real values before deploying!
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: adnu-cevas
  labels:
    app: cevas
    tier: backend
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cm9vdA==   # base64 for 'root'
  MYSQL_USER: Y2V2YXN1c2Vy         # base64 for 'cevasuser'
  MYSQL_PASSWORD: cmhpbm8=         # base64 for 'rhino'
  DB_PASS: cmhpbm8=                # base64 for 'rhino' 